body{
    display:flex;
    flex-flow: column nowrap;
}
h1{
    color:red;
}
.container{
    width:400px;
    display:flec;
    margin:auto auto;
}
.form-group{
    display:flex;
    flex-direction: column;
    margin:10px auto;
    justify-content: flex-start;
}